# Generate

In [ ]:
!pip install indian-names

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting indian-names
  Downloading indian_names-0.3-py3-none-any.whl (12 kB)
Installing collected packages: indian-names
Successfully installed indian-names-0.3

In [ ]:
all_names = {'male':[], 'female':[]
            #  , 'm_age': [], 'f_age':[]
             }

for i in range(500):
  all_names['male'].append(names.get_full_name(gender='male'))
  all_names['female'].append(names.get_full_name(gender='female'))
  # all_names['m_age'] = np.random.randint(18,85)
  # all_names['f_age'] = np.random.randint(18,85)


df = pd.DataFrame(all_names)

# Hindi

In [ ]:
import indian_names as names
import random

In [ ]:
all_names = {'male':set(), 'female':set()}

In [ ]:
for i in range(150):
  all_names['male'].add(names.get_full_name(gender='male'))
  all_names['female'].add(names.get_full_name(gender='female'))

In [ ]:
all_names['female'] = list(all_names['female'])

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(all_names)
df

                          male             female
0                Eklavya Raina     Khushboo Arora
1                 Anish Roshan  Shuchita Khajuria
2    Kripashankar Mukhopadhyay    Damyanti Holkar
3                 Nakul Tiwari     Akriti Kayasth
4            Ashutosh Sengupta  Shubhangi Pushkar
..                         ...                ...
145              Angad Mohanty        Prabha Bahl
146            Indraneel Verma       Rakshita Das
147              Nikhil Mantri   Sulabha Mumukshu
148             Ramesh Khaitan    Foolkumari Goel
149            Ansh Bhandarkar      Urmila Paswan

[150 rows x 2 columns]

In [ ]:
df.to_csv('indian_names.csv',index=False)

In [ ]:
hind_male = '''एकलव्य रैना अनीश रोशन कृपाशंकर मुखोपाध्याय नकुल तिवारी आशुतोष सेनगुप्ता छोटेलाल बहुगुणा विभूति भटनागर तेजस्वी भदौरिया उमाशंकर गंभीर सौरभ पोद्दार विनीत बघेल सोमदत्त होल्कर सोहम महतो शैलेंद्र नाथ गंगेश राजे शैलेश भाटी मदन मेनन गजेंद्र जालान इंद्रसेन जालान प्रत्युष नाइक देबाशीष तेंदुलकर मनु वैद्य जगदीश बच्चन शरद शास्त्री सुस्त्री घोषाल अभिलाष मरांडी नीलाद्री होल्कर वायरल मेनन हनुमान राजे सज्जन पुरोहित अनुराग रैना ओम पोद्दार सत्यप्रकाश आदर्श शिवेश बिंद्रा अमित सैनी कनकप्रसाद मोरे राजेंद्र राय शशांक फोगट रविशंकर वैद्य वशिष्ठ पटेल राम दासगुप्ता विक्रम हजारिया विवस्वान सरकार सूर्य मेनन प्रखर सिसोदिया साकेत मिस्त्री इंद्रजीत भास्कर बृजेश दमानी वेदांत राठी विशाल चंद्रचूड़ कार्तिकेय चंद्रवंशी राकेश सेनगुप्ता सोनू सिंघी संजय देओल ब्रह्मदत्त कौशिक गजानंद नरूला शैलेश आदर्श आदित्यनाथ सोनकर नित्यानंद पेडणेकर सहदेव बख्शी नारायण गडकरी मिथुन बिंद्रा समीर सागर प्रेमनारायण राम शिव पूजन पाटिल निशांत गुजराल श्रेयश गुजराल प्रेमशंकर शंकर पवन मालोदे महीप सुप्रियो दिवाकर जहांगीरदार बृजेश परमार आकाश नरूला नृपेंद्र आजाद महावीर देशपांडे काशीनाथ प्रियदर्शिनी रणवीर शॉ नीलाद्रि हजारिया भार्गव सक्सेना राज शॉ नीतीश खेर उपेंद्र जिंदल सोमदत्त सांपला विनोद सुराना भूपेंद्र भास्कर रितेश चौरसिया सत्यप्रकाश राजपुरोहित प्रयास मुंडक गंगेश लालवानी सुजीत गोस्वामी हिमांशु गोयल वेदप्रकाश सेठी प्रताप मंडल अमरेंद्र व्यास रवि धोनी ब्रह्मदत्त जिंदल मिलिंद बोस नीलाद्रि पांडे विभोर बसु जगन्नाथ ठाकरे तेजप्रताप माली सुजीत मोदी बलदेव सहाय श्रीकांत डे राघवेंद्र गडकरी सुभाष ददलानी अनुज शॉ अरविंद सिसोदिया आशु ढोलकिया जगदीश गुर्जर हार्दिक पुष्कर सुरेंद्र त्यागी विशाल रोडे भार्गव बाल्यान प्रकाश कोहली भारद्वाज सेन रविशंकर चंद्रवंशी रुचिर गोस्वामी केसरी धानुका अश्विनी राठौर उदयराज खेर किशोर गुरु सुंदर खजुरिया दिव्यांश गोंड प्रशांत दीक्षित विभोर ओझा रोहित सहनी हरिहर बाला अमोघ अग्रवाल मा धुर दास सिद्धार्थ रावत प्रमद दिदवानिया गिरीश मरांडी देवेंद्र जेठवानी पंकज नागर राज जाधव विलास वाल्मीकि हर्षवर्धन ओबेरॉय प्रशांत बनर्जी मारुति खन्ना परमेश्वर पटेल अंगद बंदोपाध्याय अमरीश मलिक कपिल व्यास अंगद मोहंती इंद्रनील वर्मा निखिल मंत्री रमेश खेतान अंश भंडारकर
'''

In [ ]:
hindi_female = '''खुशबू अरोरा शुचिता खजूरिया दमयंती होल्कर आकृति कायस्थ शुभांगी पुष्कर माया भावसार अनुभूति जैन सुप्रिया गहरवार अपराजिता सरदाना संगीता कक्कड़ निमिशा डे हरिका त्रिवेदी रुनझुन ढोलकिया मीरा वहल आरती चोपड़ा शिखा सिसोदिया पूर्वी जावड़ेकर संतनिका नाहर दामिनी कायस्थ मानसी लोहिया प्रमिला गुरु रेवती चौरसिया लीला खोसला हेमलता रोड प्रीति अंबानी मोहिनी त्रिवेदी वेदिका खेमका लता ददलानी लिपिका मीना महिमा वहल शकुंतला सेठी अरुणिता गौतम प्रतिभा पटेल स्तुति विश्वकर्मा महालक्ष्मी उपाध्याय अंशिका अत्रे सुहासिनी अंबानी नीतिका बरनवाल राजश्री तेंदुलकर काशवी अवस्थी नीलू मोर सानिध्य पांडे जावित्री बिंद्रा ईशा शॉ काजोल आहूजा स्मृति खजूरिया मंदाकिनी पुजारी वर्तिका सोनी सुलोचना चोपड़ा आशा कामत सीमा कुलकर्णी माला शंकर किरण द्विवेदी शोभा रेड्डी शुभांगी भास्कर रेखा ददलानी मनीषा दुबे प्रेक्षा भट्ट नयनतारा शेखावत अलका भटनागर नीतिका गायतोंडे गुंजा त्यागी प्रिया राम निहारिका हलदार हरिप्रिया मोहंती कलावती घोषाल माहेश्वरी सेठी सुकृतिका महतो सुकृतिका रावल सुकृतिका शोरे गार्गी देशपांडे रिद्धि पवार रजनी ठाकुर सुप्रिया सहाय मिहिका सोनी मिताली कपूर रक्षिता भार्गव शुभी बजाज सुनीति सिसोदिया शिखा घोषाल करुणा त्रिवेदी अपराजिता कामत परिणीता खजुरिया प्रियंवदा रुंथला शेफाली भाटी तनीषा सुराना साधना सुप्रियो भगवती हर्षा मंगेशकर अर्चना कक्कड़ अवंतिका सांपला सुकृतिका मुक्ति रैना जूली गावस्कर रूनझुन दत्त साधना गुजराल महालक्ष्मी अहले मुक्ति दीक्षित पुष्पा माली सुषमा अहले निधि गुजराल रीतिका गडकरी अपर्णा शॉ रक्षा कौल मैथिली पाठक मानसी गांवकर हंसवी सिंह नयनतारा अठावले सरस्वती नाइक अनामिका अतलानी यशोदा सुराना गुंजा मालोदे नैना भारती सरोजिनी जेटली दीपिका जहांगीरदार भगवती गोविल मधुलिका राउत दुर्गा दासगुप्ता शशिकला राम मंजुला स्वराज सुधा मुंडा श्रुति तंवर हेमलता गायतोंडे अन्वेषा नेगी अवनी राय दीप्ति माथुर राशि गुर्जर सोनी गुजराल पूर्व केतकर उज्जवला श्रीवास्तव अंजू मंडल रेखा पटवारी रुचिका आहूजा उपज्ञा सेनगुप्ता तूलिका खा नीरू ठाकुर हेमलता रावत भगवती जेठवानी आडवाणी रत्नेश देसाई रुम्पा अत्रे अनीता मिश्रा मधुरिमा हजारिया अवंतिका शेखावत अध्या मजूमदार वरुण अम्बेडकर प्रभा बहल रक्षिता दास सुलभा मुमुक्षु फूलकुमारी गोयल उर्मिला पासवान
'''

In [ ]:
male_ls = hind_male.split(' ')
male_hi_names = []

In [ ]:
for i in range(0, len(male_ls),2):
  name = ' '.join([male_ls[i], male_ls[i+1]])
  # print(name)
  male_hi_names.append(name)

In [ ]:
female_ls = hindi_female.split(' ')

In [ ]:
len(female_ls)

299

In [ ]:
for i in range(0, len(female_ls)-1,2):
  name = ' '.join([female_ls[i], female_ls[i+1]])
  # female_hi_names.append(name)
  print(int(i/2+2), name)

2 खुशबू अरोरा
3 शुचिता खजूरिया
4 दमयंती होल्कर
5 आकृति कायस्थ
6 शुभांगी पुष्कर
7 माया भावसार
8 अनुभूति जैन
9 सुप्रिया गहरवार
10 अपराजिता सरदाना
11 संगीता कक्कड़
12 निमिशा डे
13 हरिका त्रिवेदी
14 रुनझुन ढोलकिया
15 मीरा वहल
16 आरती चोपड़ा
17 शिखा सिसोदिया
18 पूर्वी जावड़ेकर
19 संतनिका नाहर
20 दामिनी कायस्थ
21 मानसी लोहिया
22 प्रमिला गुरु
23 रेवती चौरसिया
24 लीला खोसला
25 हेमलता रोड
26 प्रीति अंबानी
27 मोहिनी त्रिवेदी
28 वेदिका खेमका
29 लता ददलानी
30 लिपिका मीना
31 महिमा वहल
32 शकुंतला सेठी
33 अरुणिता गौतम
34 प्रतिभा पटेल
35 स्तुति विश्वकर्मा
36 महालक्ष्मी उपाध्याय
37 अंशिका अत्रे
38 सुहासिनी अंबानी
39 नीतिका बरनवाल
40 राजश्री तेंदुलकर
41 काशवी अवस्थी
42 नीलू मोर
43 सानिध्य पांडे
44 जावित्री बिंद्रा
45 ईशा शॉ
46 काजोल आहूजा
47 स्मृति खजूरिया
48 मंदाकिनी पुजारी
49 वर्तिका सोनी
50 सुलोचना चोपड़ा
51 आशा कामत
52 सीमा कुलकर्णी
53 माला शंकर
54 किरण द्विवेदी
55 शोभा रेड्डी
56 शुभांगी भास्कर
57 रेखा ददलानी
58 मनीषा दुबे
59 प्रेक्षा भट्ट
60 नयनतारा शेखावत
61 अलका भटनागर
62 नीतिका गायतोंडे
63 गुंजा त्यागी
64 प्रिया राम
65 निहारिका हलदार
66 हरिप्रिया मोहंती
67 कलावती घोषाल
68 माहेश्वरी सेठी
69 सुकृतिका महतो
70 सुकृतिका रावल
71 सुकृतिका शोरे
72 गार्गी देशपांडे
73 रिद्धि पवार
74 रजनी ठाकुर
75 सुप्रिया सहाय
76 मिहिका सोनी
77 मिताली कपूर
78 रक्षिता भार्गव
79 शुभी बजाज
80 सुनीति सिसोदिया
81 शिखा घोषाल
82 करुणा त्रिवेदी
83 अपराजिता कामत
84 परिणीता खजुरिया
85 प्रियंवदा रुंथला
86 शेफाली भाटी
87 तनीषा सुराना
88 साधना सुप्रियो
89 भगवती हर्षा
90 मंगेशकर अर्चना
91 कक्कड़ अवंतिका
92 सांपला सुकृतिका
93 मुक्ति रैना
94 जूली गावस्कर
95 रूनझुन दत्त
96 साधना गुजराल
97 महालक्ष्मी अहले
98 मुक्ति दीक्षित
99 पुष्पा माली
100 सुषमा अहले
101 निधि गुजराल
102 रीतिका गडकरी
103 अपर्णा शॉ
104 रक्षा कौल
105 मैथिली पाठक
106 मानसी गांवकर
107 हंसवी सिंह
108 नयनतारा अठावले
109 सरस्वती नाइक
110 अनामिका अतलानी
111 यशोदा सुराना
112 गुंजा मालोदे
113 नैना भारती
114 सरोजिनी जेटली
115 दीपिका जहांगीरदार
116 भगवती गोविल
117 मधुलिका राउत
118 दुर्गा दासगुप्ता
119 शशिकला राम
120 मंजुला स्वराज
121 सुधा मुंडा
122 श्रुति तंवर
123 हेमलता गायतोंडे
124 अन्वेषा नेगी
125 अवनी राय
126 दीप्ति माथुर
127 राशि गुर्जर
128 सोनी गुजराल
129 पूर्व केतकर
130 उज्जवला श्रीवास्तव
131 अंजू मंडल
132 रेखा पटवारी
133 रुचिका आहूजा
134 उपज्ञा सेनगुप्ता
135 तूलिका खा
136 नीरू ठाकुर
137 हेमलता रावत
138 भगवती जेठवानी
139 आडवाणी रत्नेश
140 देसाई रुम्पा
141 अत्रे अनीता
142 मिश्रा मधुरिमा
143 हजारिया अवंतिका
144 शेखावत अध्या
145 मजूमदार वरुण
146 अम्बेडकर प्रभा
147 बहल रक्षिता
148 दास सुलभा
149 मुमुक्षु फूलकुमारी
150 गोयल उर्मिला

In [ ]:
df['male_hi'] = male_hi_names

In [ ]:
for i, n in enumerate(female_hi_names):
  print(i+2, n)

2 खुशबू अरोरा
3 शुचिता खजूरिया
4 दमयंती होल्कर
5 आकृति कायस्थ
6 शुभांगी पुष्कर
7 माया भावसार
8 अनुभूति जैन
9 सुप्रिया गहरवार
10 अपराजिता सरदाना
11 संगीता कक्कड़
12 निमिशा डे
13 हरिका त्रिवेदी
14 रुनझुन ढोलकिया
15 मीरा वहल
16 आरती चोपड़ा
17 शिखा सिसोदिया
18 पूर्वी जावड़ेकर
19 संतनिका नाहर
20 दामिनी कायस्थ
21 मानसी लोहिया
22 प्रमिला गुरु
23 रेवती चौरसिया
24 लीला खोसला
25 हेमलता रोड
26 प्रीति अंबानी
27 मोहिनी त्रिवेदी
28 वेदिका खेमका
29 लता ददलानी
30 लिपिका मीना
31 महिमा वहल
32 शकुंतला सेठी
33 अरुणिता गौतम
34 प्रतिभा पटेल
35 स्तुति विश्वकर्मा
36 महालक्ष्मी उपाध्याय
37 अंशिका अत्रे
38 सुहासिनी अंबानी
39 नीतिका बरनवाल
40 राजश्री तेंदुलकर
41 काशवी अवस्थी
42 नीलू मोर
43 सानिध्य पांडे
44 जावित्री बिंद्रा
45 ईशा शॉ
46 काजोल आहूजा
47 स्मृति खजूरिया
48 मंदाकिनी पुजारी
49 वर्तिका सोनी
50 सुलोचना चोपड़ा
51 आशा कामत
52 सीमा कुलकर्णी
53 माला शंकर
54 किरण द्विवेदी
55 शोभा रेड्डी
56 शुभांगी भास्कर
57 रेखा ददलानी
58 मनीषा दुबे
59 प्रेक्षा भट्ट
60 नयनतारा शेखावत
61 अलका भटनागर
62 नीतिका गायतोंडे
63 गुंजा त्यागी
64 प्रिया राम
65 निहारिका हलदार
66 हरिप्रिया मोहंती
67 कलावती घोषाल
68 माहेश्वरी सेठी
69 सुकृतिका महतो
70 सुकृतिका रावल
71 सुकृतिका शोरे
72 गार्गी देशपांडे
73 रिद्धि पवार
74 रजनी ठाकुर
75 सुप्रिया सहाय
76 मिहिका सोनी
77 मिताली कपूर
78 रक्षिता भार्गव
79 शुभी बजाज
80 सुनीति सिसोदिया
81 शिखा घोषाल
82 करुणा त्रिवेदी
83 अपराजिता कामत
84 परिणीता खजुरिया
85 प्रियंवदा रुंथला
86 शेफाली भाटी
87 तनीषा सुराना
88 साधना सुप्रियो
89 भगवती हर्षा
90 मंगेशकर अर्चना
91 कक्कड़ अवंतिका
92 सांपला सुकृतिका
93 मुक्ति रैना
94 जूली गावस्कर
95 रूनझुन दत्त
96 साधना गुजराल
97 महालक्ष्मी अहले
98 मुक्ति दीक्षित
99 पुष्पा माली
100 सुषमा अहले
101 निधि गुजराल
102 रीतिका गडकरी
103 अपर्णा शॉ
104 रक्षा कौल
105 मैथिली पाठक
106 मानसी गांवकर
107 हंसवी सिंह
108 नयनतारा अठावले
109 सरस्वती नाइक
110 अनामिका अतलानी
111 यशोदा सुराना
112 गुंजा मालोदे
113 नैना भारती
114 सरोजिनी जेटली
115 दीपिका जहांगीरदार
116 भगवती गोविल
117 मधुलिका राउत
118 दुर्गा दासगुप्ता
119 शशिकला राम
120 मंजुला स्वराज
121 सुधा मुंडा
122 श्रुति तंवर
123 हेमलता गायतोंडे
124 अन्वेषा नेगी
125 अवनी राय
126 दीप्ति माथुर
127 राशि गुर्जर
128 सोनी गुजराल
129 पूर्व केतकर
130 उज्जवला श्रीवास्तव
131 अंजू मंडल
132 रेखा पटवारी
133 रुचिका आहूजा
134 उपज्ञा सेनगुप्ता
135 तूलिका खा
136 नीरू ठाकुर
137 हेमलता रावत
138 भगवती आडवाणी
139 रत्नेश देसाई
140 रुम्पा अत्रे
141 अनीता मिश्रा
142 मधुरिमा हजारिया
143 अवंतिका शेखावत
144 अध्या मजूमदार
145 वरुण अम्बेडकर
146 प्रभा बहल
147 रक्षिता दास
148 सुलभा मुमुक्षु
149 फूलकुमारी गोयल
150 उर्मिला पासवान

In [ ]:
import numpy as np

# Date

In [ ]:
from datetime import date, timedelta
#            Y    M  D
sdate = date(1947,8,16)   # start date
edate = date(2002,1,1)   # end date

<generator object dates_bwn_twodates at 0x7fdb882b4cf0>

In [ ]:
dates = pd.date_range(sdate,edate-timedelta(days=1),freq='d')

In [ ]:
male_dob = []
female_dob = []

for i in range(500):
  male_dob.append(str(random.choice(dates)).split(' ')[0])
  female_dob.append(str(random.choice(dates)).split(' ')[0])

In [ ]:
df['male_dob'] = male_dob
df['female_dob'] = female_dob

In [ ]:
df.head(10)

In [ ]:
df.to_csv('indian_names.csv',index=False)

In [ ]:
new_data = []

for i in range(500):
  # print(df.iloc[i]['male'])
  male_name = df.iloc[i]['male'].split(' ')
  female_name = df.iloc[i]['female'].split(' ')
  male_dob = df.iloc[i]['male_dob']
  female_dob = df.iloc[i]['female_dob']


  male_dict = {'first_name': male_name[0], 'last_name': male_name[1], 'date_of_birth': male_dob, 'gender': 'Male'}
  female_dict = {'first_name': female_name[0], 'last_name': female_name[1], 'date_of_birth': female_dob, 'gender': 'Female'}
  # print(dict(df.iloc[i]))
  new_data.append(male_dict)
  new_data.append(female_dict)

In [ ]:
import json 
with open("/content/indian_names.json", "w") as j:
    json.dump(new_data, j)

In [ ]:
!pip install albumentations

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: albumentations in /usr/local/lib/python3.9/dist-packages (1.2.1)
Requirement already satisfied: opencv-python-headless>=4.1.1 in /usr/local/lib/python3.9/dist-packages (from albumentations) (4.7.0.72)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.9/dist-packages (from albumentations) (6.0)
Requirement already satisfied: scikit-image>=0.16.1 in /usr/local/lib/python3.9/dist-packages (from albumentations) (0.19.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from albumentations) (1.10.1)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.9/dist-packages (from albumentations) (1.22.4)
Requirement already satisfied: qudida>=0.0.4 in /usr/local/lib/python3.9/dist-packages (from albumentations) (0.0.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from qudida>=0.0.4->albumentations) (4.5.0)
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.9/dist-packages (from qudida>=0.0.4->albumentations) (1.2.1)
Requirement already satisfied: networkx>=2.2 in /usr/local/lib/python3.9/dist-packages (from scikit-image>=0.16.1->albumentations) (3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from scikit-image>=0.16.1->albumentations) (23.0)
Requirement already satisfied: pillow!=7.1.0,!=7.1.1,!=8.3.0,>=6.1.0 in /usr/local/lib/python3.9/dist-packages (from scikit-image>=0.16.1->albumentations) (8.4.0)
Requirement already satisfied: tifffile>=2019.7.26 in /usr/local/lib/python3.9/dist-packages (from scikit-image>=0.16.1->albumentations) (2023.2.28)
Requirement already satisfied: PyWavelets>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-image>=0.16.1->albumentations) (1.4.1)
Requirement already satisfied: imageio>=2.4.1 in /usr/local/lib/python3.9/dist-packages (from scikit-image>=0.16.1->albumentations) (2.9.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.19.1->qudida>=0.0.4->albumentations) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.19.1->qudida>=0.0.4->albumentations) (3.1.0)

In [ ]:
import os
import cv2
import albumentations as A
from tqdm import tqdm

In [ ]:
transform = A.Compose([
    A.RandomBrightnessContrast(p=0.45),
])

In [ ]:
folder = 'path/to/directory'
new_folder = 'path/to/new_directory'
paths = os.listdir(folder)
for path in tqdm(paths):
  img = cv2.imread(os.path.join(folder,path))
  # apply augmentation
  transformed = transform(image=img)
  cv2.imwrite(os.path.join(new_folder,path), transformed['image'])